#masthead-container {
	a {
		color: #000;
	}
}


#site-navigation {
	background-color: $primary-color; // TODO
	border-color: #38332a;
}


#navigation-menu {

	span {
		background: black;
	}


	#hamburger-overlay {
		background-color: black;
	}
}


body {
	background-color: #f5f5f2;
	
}

#zarya-carousel-dots {
	.active {
		background: #000;
	}
}



#site-footer {
	background-color: #e8e6e0; // TODO: use scss variable
	a {
		color: #000;
	}
}

#footer-top {
	.footer-menu {
		.menu {
			ul {
				border-color: #aaa;
			}
		}
	}
}



button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.checkout-button,
.zarya-button,
div.woocommerce-notices-wrapper a {
  border-color: black; // border-color: $color__border-button; TODO
  background: white; // background: $color__background-button; TODO
  color: black; // color: $color__button; TODO

  &:hover {
    // color: $color__button-hover !important; TODO
    // border-color: $color__border-button-hover; TODO
  }

  &:active,
  &:focus {
    // border-color: $color__border-button-focus; TODO
  }

  &:visited {
    // color: $color__button; TODO

  }
}





.woocommerce-breadcrumb {
	border-color: #ddd;
}

.woocommerce-pagination {
	ul {
		li {
			border-color: #e0ddd6;
		}
	}
}

.woocommerce-ordering {
	border-color: #ddd;
	select {
		background-color: white;
		color: blue;
	}
}

form.checkout_coupon {
	border-color: #ddd;
}


body.single-product {
	div.entry-summary {
		border-color: #ddd;
	}
}


table.woocommerce-cart-form__contents {
	tr.cart_item {
		border-color: #ddd;
	}

	div.coupon {
		border-color: #ddd;
	}

	div.woocommerce {
		div.cart-collaterals {
			div.cart_totals {
				border-color: #ddd;

			}
		}
	}
}


.woocommerce-LoopProduct-link > .onsale {
	background-color: #fff;

}


nav.woocommerce-MyAccount-navigation {
	li {
		border-color: black;
	}
}


table.woocommerce-checkout-review-order-table {
	border-color: black;

	tbody td {
		border-color: black;
	}
}


ul.products {
	a {
		color: black;
	}
}

@media screen and (min-width: 864px) {
	body.single-product {
		div.entry-summary {
			border-color: black;
		}
	}
}


div.quantity {
	border-color: black;
	&>input.qty {
		border-color: black;
	}
}
