
@media screen and (min-width: 960px) {

	#site-navigation {
		background-color: $color__primary;
		border-top: solid $color__accent-dark 2px;
		border-bottom: solid $color__accent-dark 1px;

		.desktop-menu {
			padding: 1rem;

		}


		.menu {
			margin: 1rem 0;
		}

		.menu-item-has-children {
			position: relative;
			padding-right: 1.2rem;

			&::after{
				content: url("assets/chevron.svg");
				position: absolute;
				right: 0;
				top: 0.2rem;
				width: 0.9rem;
				opacity: 0.5;
			}

			.menu-item-has-children::after {
				transform: rotate(270deg);

			}
		}

		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1.5rem;
			justify-content: space-between;
			list-style: none;
			margin: 0;
			padding-left: 0;

			ul {
				gap: 0.2rem;
				background-color: $color__secondary;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;
				padding: 0.4rem;

				ul {
					left: -999em;
					top: 0.2rem;

					&::before {
						bottom: 0;
						height: auto;
						left: auto;
						right: -2rem;
						top: 0;
						width: 2rem;
					}

					&::after {
						border-bottom-color: transparent;
						border-left-color: #000;
						bottom: auto;
						right: -1.6rem;
						top: 2rem;
					}
				}

				li {

					&:hover > ul,
					&:focus > ul,
					&.focus > ul{
						right: calc(100%);
					}
				}

				a {
					width: 200px;
				}

				:hover > a,
				.focus > a {
				}

				a:hover,
				a.focus {
				}
			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}

		li {
			position: relative;

			&:hover > a,
			&.focus > a {
			}
		}

		a {
			display: block;
			text-decoration: none;
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
		}
	}

}
