.site {
	margin: auto;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	max-width: 80rem;
}

.site-header {

}

.site-body { /* wrapper class for site-main and widget-area */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.site-main {
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	max-width: 42rem;
}

.widget-area {
	max-width: 18rem;
}

.site-footer {

}

@import "no-sidebar";
