#colophon {
	border-top: solid black 1px;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;

	#footer-top {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		.footer-menu {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
			padding-top: 0.4rem;
			padding-bottom: 0.4rem;

			&:hover {
				cursor: pointer;

			}
		}

		.menu {
			flex-basis: 100%;

		}

		& > div {
			border-bottom: solid #ccc 1px;
			width: 100%;

		}
	}

	#footer-top-container {
		background-color: #ddd;
	}

	#footer-bottom-container {
		background-color: #ccc;
	}

	h3 {
		margin: 0;
		padding: 0;

	}

	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;

	}

	.menu {
		ul {
			display: none;
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}
}

