// hide non-mobile elements
#site-navigation,
.site-title,
.site-description {
	display: none;
}

#masthead-container {
	width: 100%;
}

#masthead {
	@include page-width;
	display: flex;
  justify-content: space-between;
  align-items: center;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#site-branding {
	display: flex;
	align-items: center;

	img {
		width: 3rem;
		height: auto;
	}

	#title-desc-container {
		display: flex;
		flex-direction: column;
		margin-left: 0.6rem;

		p {
			margin: 0;
		}
	}
}

#ecommerce-menu {
	img {
		width: 1.5rem;
		margin-left: 0.5rem;
	}

}

@media screen and (max-width: 960px) {
	#masthead div,
	#masthead nav {
		flex-grow: 1;
	}

	#logo-container img {
		position: absolute;
		left: 51%;
		transform: translate(-50%, -50%) scale(0.75);

	}

	#ecommerce-menu {
		text-align: right;
	}



}


@media screen and (min-width: 960px) {
	.site-title,
	.site-description {
		display: inline-block;
	}



	#hamburger-nav {
		display: none;
	}

	#site-navigation {
		display: block;
		border-top: solid black 2px;
		border-bottom: solid black 1px;
		padding: 0.5rem 1rem 0.5rem 1rem;

		ul {
			@include page-width;
			list-style-type: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1.5rem;
			justify-content: space-between;
		}
	}

}
