// ensure the content does not exceed width of screen
html, body {
	max-width: 100%;
}

// use flex for the #page div
#page {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}

#site-body {
	width: 100%;
}

.site-main {
	@include page-width;
	min-height: 100vh;
}
