$primary-color-dark-500: #ab8386;
$primary-color-dark-400: #b38b8d;
$primary-color-dark-300: #bb9395;
$primary-color-dark-200: #c49b9d;
$primary-color-dark-100: #cca3a5;
$primary-color: #d5abad;
$primary-color-light-100: #ddb3b5;
$primary-color-light-200: #e6bbbd;
$primary-color-light-300: #eec3c6;
$primary-color-light-400: #f7ccce;
$primary-color-light-500: #ffd4d6;

$secondary-color-dark-500: #920087;
$secondary-color-dark-400: #9a008f;
$secondary-color-dark-300: #a31196;
$secondary-color-dark-200: #ab1f9f;
$secondary-color-dark-100: #b42ba7;
$secondary-color: #bd35af;
$secondary-color-light-100: #c53eb7;
$secondary-color-light-200: #ce47bf;
$secondary-color-light-300: #d750c8;
$secondary-color-light-400: #e059d0;
$secondary-color-light-500: #e962d9;

$success-color-dark-500: #b0cb95;
$success-color-dark-400: #b8d49d;
$success-color-dark-300: #c0dca5;
$success-color-dark-200: #c8e5ad;
$success-color-dark-100: #d1edb5;
$success-color: #d9f6bd;
$success-color-light-100: #e2fec6;
$success-color-light-200: #eaffce;
$success-color-light-300: #f3ffd6;
$success-color-light-400: #fcffdf;
$success-color-light-500: #ffffe7;

$warning-color-dark-500: #c6d09a;
$warning-color-dark-400: #ced9a2;
$warning-color-dark-300: #d6e1aa;
$warning-color-dark-200: #dfeab2;
$warning-color-dark-100: #e7f2ba;
$warning-color: #f0fbc2;
$warning-color-light-100: #f9ffcb;
$warning-color-light-200: #ffffd3;
$warning-color-light-300: #ffffdc;
$warning-color-light-400: #ffffe4;
$warning-color-light-500: #ffffed;

$info-color-dark-500: #a2b8bc;
$info-color-dark-400: #abc0c4;
$info-color-dark-300: #b3c9cd;
$info-color-dark-200: #bbd1d5;
$info-color-dark-100: #c3d9dd;
$info-color: #cce2e6;
$info-color-light-100: #d4eaef;
$info-color-light-200: #dcf3f7;
$info-color-light-300: #e5fcff;
$info-color-light-400: #edffff;
$info-color-light-500: #f6ffff;

$danger-color-dark-500: #ab4b67;
$danger-color-dark-400: #b4536e;
$danger-color-dark-300: #bc5b76;
$danger-color-dark-200: #c5637d;
$danger-color-dark-100: #ce6a85;
$danger-color: #d6728c;
$danger-color-light-100: #df7a94;
$danger-color-light-200: #e8829c;
$danger-color-light-300: #f18aa4;
$danger-color-light-400: #fa92ac;
$danger-color-light-500: #ff9bb4;

$neutral-color-dark-500: #a49a9c;
$neutral-color-dark-400: #aca2a4;
$neutral-color-dark-300: #b4aaac;
$neutral-color-dark-200: #bcb3b5;
$neutral-color-dark-100: #c4bbbd;
$neutral-color: #cdc3c5;
$neutral-color-light-100: #d5cbcd;
$neutral-color-light-200: #ded4d6;
$neutral-color-light-300: #e6dcde;
$neutral-color-light-400: #efe5e7;
$neutral-color-light-500: #f7edef;

