button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.checkout-button,
.zarya-button,
div.woocommerce-notices-wrapper a {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 5%;
	background: $color__background-button;
	color: $color__button;
	line-height: 0.8rem;
	padding: 0.6em 1em;
	font-size: 0.6rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
	text-decoration: none;

	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		color: $color__button-hover !important;
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}

	&:visited {
		color: $color__button;

	}
}
